
.Item {
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 200px;
	align-items: center;
	padding: 20px 0;
}

.Item__content {
	width: 700px;
	display: flex;
	padding: 20px;
	justify-content: center;
	position: relative;
	padding-right: 60px;
	box-sizing: border-box;
}

.Item__text {
	flex: 1 0;
	min-width: 40%;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 0;
}


.Item:nth-child(odd) .Item__content {
	flex-direction: row-reverse;
}

.Item:nth-child(odd) .Item__text {
	padding-left: 0;
	padding-right: 15px;
}

.Item__img {
	max-height: 400px;
	max-width: 60%;
}

.Item__btns {
	position: absolute;
	right: -5px;
}
